.bar, .bar1 {
  font-size: 1.0em;
}

.background {
  background-color: #000000;
  border: 2px solid #fc035a;
}

.top {
  margin-top: 0.5em;
}

.bottom {
  margin-bottom: 0.5em;
}

.workspaces, .clock, .volume-box, .battery, .keyboard {
  background-color: #000000;
  padding-top: 1em;
  padding-bottom: 1em;

  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2px;
  margin-right: 4px;

  border-top: 2px solid #fc035a;
  border-bottom: 2px solid #fc035a;
  border-radius: 2em;
}

.battery-percent {
  font-size: 1.2em;
}

.volume {
  font-size: 1.5em;
}

button {
  background: none;
  box-shadow: none;
  text-shadow: none;
  border: none;
  font-family: "FantasqueSansMono Nerd Font";
  font-size: 1.5em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  color: #e0e0e0;
}

.wu, .wf {
  color: #e0e0e0;
}

.wf {
  border-right: 0.2em solid #e0e0e0;
  border-radius: 0;
  padding-left: 0.3em;
  font-weight: bold;
}

